In [3]:
#Подключение
import pandas as pd
import json
from pymongo import MongoClient

client = MongoClient('localhost',27017)

db = client.test
client['test']
collection = db.test

df = pd.read_csv("D:/amazon_com.csv")
df.head()

         ASIN GROUP     FORMAT
0  0307463745  book  hardcover
1  0061914177  book  hardcover
2  1606840606  book  hardcover
3  0979974623  book  hardcover
4  0375829652  book  hardcover

In [9]:
#find_one
import pandas as pd
import json
import pymongo
from pymongo import MongoClient
client = MongoClient('localhost',27017)

db = client.test
client['test']
collection = db.test


df = pd.read_csv("D:/amazon_com.csv")
df.head(15)
record = json.loads(df.T.to_json()).values()
collection.mydocument.insert(record)

cursor = collection['mydocument'].find_one()
dataframe = (list(cursor))
dataframe

c:\users\chugu\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  app.launch_new_instance()

['_id', 'ASIN', 'GROUP', 'FORMAT']

In [6]:
#поиск по критерию
import pandas as pd
import json
from pymongo import MongoClient
client = MongoClient('localhost',27017)

db = client.test
client['test']
collection = db.test


cursor = collection['mydocument'].find({"ASIN": "0307463745"})
dataframe = (list(cursor))
dataframe

[]

In [8]:
#вставка одного
import pandas as pd
import json
import pymongo
client = MongoClient('localhost',27017)

db = client.test
client['test']
collection = db.test


collection['mydocument'].insert_one({"ASIN": "0307463751", "GROUP": "book", "FORMAT": "hardcover"})
cursor = collection['mydocument'].find({"uniq_id": "0307463751"})
dataframe = (list(cursor))
dataframe

[]

In [1]:
#поиск несколько по критерию
import pandas as pd
import json
import pymongo
client = MongoClient('localhost',27017)

db = client.test
client['test']
collection = db.test

cursor = collection['mydocument'].find({"GROUP": "book",})
dataframe = (list(cursor))
dataframe

NameError: name 'MongoClient' is not defined

In [15]:
#удаление
import pandas as pd
import json
import pymongo
from pymongo import MongoClient
client = MongoClient('localhost',27017)

db = client.test
client['test']
collection = db.test


collection['mydocument'].delete_one({"ASIN": "0307463745"})
collection['mydocument'].find({"ASIN": "0307463745"})
dataframe = (list(cursor))
dataframe

[]

In [16]:
#удаление всего по критерию
import pandas as pd
import json
import pymongo
client = MongoClient('localhost',27017)

db = client.test
client['test']
collection = db.test

collection['mydocument'].delete_many({"FORMAT": "hardcover"})
cursor = collection['mydocument'].find({"FORMAT": "hardcover"})
dataframe = (list(cursor))
dataframe

[]

In [19]:
#вставка много
import pandas as pd
import json
import pymongo
client = MongoClient('localhost',27017)

db = client.test
client['test']
collection = db.test

mylist =[
    {"ASIN": "0307463311", "GROUP": "book", "FORMAT": "paperback"}, 
    {"ASIN": "0307467723", "GROUP": "book", "FORMAT": "mass market paperback"},
]
collection['mydocument'].insert_many(mylist)

In [21]:
#изменение
import pandas as pd
import json
import pymongo
from pymongo import MongoClient
client = MongoClient('localhost',27017)

db = client.test
client['test']
collection = db.test

collection['mydocument'].update_many({'ASIN': '0307463745'},{"$set":{'FORMAT': 'paperback'}})
cursor = collection['mydocument'].find({'ASIN': '0307463745'})
dataframe = (list(cursor))
dataframe

[]

In [22]:
#проверка для удалений
import pandas as pd
import json
import pymongo
from pymongo import MongoClient
client = MongoClient('localhost',27017)

db = client.test
client['test']
collection = db.test

cursor = collection['mydocument'].find({"FORMAT": "hardcover"})
dataframe = (list(cursor))
dataframe

[]